@import url('https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap');
body {
    font-family: 'Poppins', sans-serif;
    color: white;
}

.split {
    height: 100%;
    width: 50%;
    position: fixed;
    z-index: 1;
    top: 0;
    overflow-x: hidden;
    padding-top: 20px;
}

.left {
    left: 0;
    background: url(../background/safar-safarov.jpg);
    background-size: cover;
    background-position: center;
    opacity: 0.8;
}

.right {
    padding: 0;
    right: 0;
    background-color: #fff;
}

.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.centered h2 {
    color: #000;
    font-size: 2em;
    text-align: left;
}

.centered h2 span {
    font-size: 2em;
    color: inherit;
}

.centered ul li {
    font-size: 1.2em;
    list-style: none;
    color: #000;
}

.centered ul li a {
    list-style: none;
    color: #000;
}


/* Footer */

.footer {
    position: fixed;
    right: 0;
    bottom: 0;
    width: 50%;
    background-color: #fff;
    color: #000;
    text-align: center;
}

.footer a {
    text-decoration: none;
    color: inherit;
}


/* Position the navbar container inside the image */

.container {
    position: relative;
    /* margin: 20px; */
    width: auto;
}


/* The navbar */

.topnav {
    width: 100%;
    overflow: hidden;
    background-color: #fff;
    float: right;
}


/* Navbar links */

.topnav a {
    /* float: left; */
    float: right;
    color: #000;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

.topnav a:hover {
    background-color: #333;
    color: inherit;
}

.form .inputBox {
    margin-bottom: 40px;
}

.form .inputBox input {
    width: 100%;
    background: transparent;
    box-shadow: none;
    border: none;
    outline: none;
    padding: 10px 0;
    font-size: 18px;
    font-weight: 300;
    color: #000;
    border-bottom: 2px solid #000;
}


/* Form */

.form .inputBox input::placeholder {
    color: #000;
}

.form .inputBox textarea {
    width: 100%;
    background: transparent;
    box-shadow: none;
    border: none;
    outline: none;
    padding: 10px 0;
    font-size: 18px;
    font-weight: 300;
    color: #000;
    min-height: 150px;
    border-bottom: 2px solid #000;
}

.form .inputBox textarea::placeholder {
    color: #000;
}

.form .inputBox input[type="submit"] {
    width: 150px;
    background: #000;
    color: #fff;
    cursor: pointer;
    font-weight: 400;
}

@media (max-width: 770px) {
    body {
        display: table;
        height: 100%;
        margin: 0;
        padding: 0;
        width: 100%;
    }
    .split {
        min-height: 100%;
        display: table;
    }
    .left {
        /*margin:auto;*/
        text-align:center;
        display: table-column;
        height: 50%;
        width:100%;
    }
    .right {
        background: url(../background/safar-safarov.jpg);
        background-size: cover;
        background-position: center;
        text-align:center;
        display: table-column;
        height: 50%;
        width:100%;
    }
    .right h2 {
        font-size: 1em;
        color: #fff;
    }
    .right ul {
        color: #fff;
        font-size: 0.9em;
    }
    .right ul li {
        color: #fff;
        font-size: 1.2em;
    }
    .right ul li a {
        color: #fff;
    }
    .topnav {
        background: transparent;
    }
    .topnav a {
        font-size: 14px;
        color: #fff;
    }
    .footer {
        width: 100%;
        text-align: center;
        bottom: 0;
        background: transparent;
    }
    .footer p {
        color: #fff;
    }
}
@media (max-width: 1080px) {
    .centered img {
        width: 99%;
        height: 99%;
    }
}