@import url('https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap');

body {
	font-family: 'Poppins', sans-serif !important;
}

#home h1.header {
	top: 50%;
	left: 50%;
}

#button button {
	background: none;
	border: 1px solid #000;
	border-radius: 10px;
	padding: 10px;
}

#button button:hover {
	cursor: pointer;
}

#navbar {
	position: fixed !important;
	left: 50%;
	color: #000 !important;
	font-weight: bold;
	background-color: transparent !important;
	box-shadow: none !important;
	z-index: 1;
}

#navbar ul li a:hover {
	background: transparent;
}

#nav-menu {
	color: #000 !important;
	font-weight: bold;
	background-color: transparent !important;
	box-shadow: none !important;
	border: none !important;
	z-index: 1;
	position: fixed !important;
}

#nav-menu a {
	padding-top: 15px;
	border: none;
}

#about {
	background: #f3f6ff;
}

#about span {
	font-size: 1.3rem;
}

#about address a {
	line-height: 1.2;
}

#icons {
	height: 80px;
	width: 80px;
}

#projects {
	background: #f3f6ff;
}

.uk-button.uk-button-default {
	border-radius: 10px;
	border: 1px solid #000;
}

#modal-full .uk-background-cover {
	background-size: 350px 700px;
}

@media only screen and (max-width: 420px) {
	#nav-left,
	#nav-right {
		display: none;
	}
}
